@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  min-width: 340px;
}

.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.module {
  scroll-snap-align: start;
  height: 100%;
  margin: 0;
}

.sticky-nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.vh90 {
  height: 90vh;
}

.vh10 {
  height: calc(var(--vh, 1vh) * 0.1);
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.carousel-indicators button {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background: gray;
  border: none;
}

.carousel-indicators .active-indicator {
  background: white;
}

.siema {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.siema > div {
  flex: 0 0 auto;
  width: 100%;
}

div#portfolio > .swiper > .swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  align-items: center;
  height: auto !important;
}

@media screen and (max-width: 639px) {
  div#portfolio > .swiper > .swiper-wrapper {
    justify-content: space-evenly;
  }
  
  .swiper-slide {
    margin-top: 0 !important;
  }
}

.clampOne {
  font-size: clamp(12px, 2vh, 20px); /* Minimum 12px, maximum 20px, otherwise 2% of viewport height */
}