@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  min-width: 340px;
}

.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.module {
  scroll-snap-align: start;
  height: 100%;
  margin: 0;
}

.sticky-nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.carousel-indicators button {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background: gray;
  border: none;
}

.carousel-indicators .active-indicator {
  background: white;
}

.siema {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.siema > div {
  flex: 0 0 auto;
  width: 100%;
}

div#portfolio > .swiper > .swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  align-items: center;
  height: auto !important;
  margin-bottom: 2.5%;
}

@media screen and (max-width: 639px) {
  div#portfolio > .swiper > .swiper-wrapper {
    justify-content: space-around;
  }

  .swiper-slide {
    margin-top: 0 !important;
  }
}

.clampOne {
  font-size: clamp(
    12px,
    2vh,
    20px
  ); /* Minimum 12px, maximum 20px, otherwise 2% of viewport height */
}

.image-container {
  /* Adjust size and position as needed to fit your layout */
  width: 250px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .eye {
    /* Adjust width and height as needed */
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
  }

  .pupil {
    width: 10px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 767px) {
  .eye {
    /* Adjust width and height as needed */
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
  }

  .pupil {
    width: 8px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
}
